body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

header.top {
	background-color: #675c47;
	margin: 10px 10px 0px 10px;
	height:           108px;
}

header.top img#headerSlogan {
	float: right;
}

/* REMOVE FOR CHAP 12 */
#award {
	position: absolute;
	top: 30px;
	left: 365px;
}

#coupon {
    position: fixed;
	top: 350px;
	left: -90px;
}

#coupon a, img {
    border: none;
}
/*---*/

#tableContainer {
	display: table;
	border-spacing: 10px;
}

#tableRow {
	display: table-row;
}

#drinks {
    display: table-cell;
    background-color: #efe5d0;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

#main,#blog {
  display: table-cell;
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

aside {
  display: table-cell;
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

h2 { font-size: 110%; }

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}

nav{
    background-color:#efe5d0;
    margin:10px 10px 0px 10px;
}

nav ul{
    margin:0px;
    list-style-type:none;
    padding:5px 0px 5px 0px;
}

nav ul li{
    display:inline;
    padding:5px 10px 5px 10px;
}

nav ul li a:link,nav ul li a:visited{
    color:#954b4b;
    border-bottom:none;
    font-weight:bold;
}

nav ul li.selected{
    background-color:#c8b99c;
}

table{
    margin-left:20px;
    margin-right:20px;
    border:thin solid black;
    caption-side:bottom;
    border-collapse:collapse;/*边框间距折叠*/
}

td,th{
    border:thin dotted gray;
    padding:5px;
    
}

th{
    background-color:#cc6600;
}

caption{
    font-style:italic;
    padding-top:8px;
}

.centertd{
    text-align:center;
}

.righttd{
    text-align:right;
}

.cellcolor{
    background-color:#fcba7a;
}

table table th{
    background-color:red;
}
